@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Nunito:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./components/index.css";

:root {
   --font-family-nunito: "Nunito", sans-serif;
   --font-family-montserrat: "Montserrat", sans-serif;
}
@layer base {
   body {
      font-family: var(--font-family-nunito);
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 14px;
   }
   h1, h2, h3, h4, h5, h6 {
      font-family: var(--font-family-montserrat);
      font-weight: 700;
   }
}

body.modal-open {
   overflow: hidden;
}

p {
   margin: 14px 0;
}

a {
   @apply .text-additional-link .underline;
}

ul {
   @apply .list-disc .list-inside .pl-4;
}

ol {
   @apply list-decimal .list-inside .pl-4;
}

img {
   user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}
.img-container.shifting {
   transition: left .2s ease-out;
}
.modal-close {
   @apply .absolute .right-0 .cursor-pointer .inline-block;
   width: 30px;
   height: 30px;
}
.modal-close::before,
.modal-close::after {
   @apply .absolute;
   top: 50%;
   left: 50%;
   width: 15px;
   height: 2px;
   content: '';
   background-color: black;
   margin-left: -25%;
}
.modal-close::before {
   transform: rotate(45deg);
}
.modal-close::after {
   transform: rotate(-45deg);
}

.overlay {
   @apply .transition-all .duration-500;
}
.overlay-enter {
   opacity: 0;
}
.overlay-enter-active {
   opacity: 1;
}
.overlay-exit {
   opacity: 1;
}
.overlay-exit-active {
   opacity: 0;
}
.overlay-enter-done {
   opacity: 1;
}

.link-wrapped:before {
   @apply .cursor-pointer .z-10 .inset-0 .absolute;
   content: '';
}

.accordion-item {
   @apply .transition-all .duration-300;
}
.accordion-item-enter {
   opacity: 0;
}
.accordion-item-enter-active {
   opacity: 1;
}
.accordion-item-exit {
   opacity: 1;
}
.accordion-item-exit-active {
   opacity: 0;
}

svg#svg-star {
   position: absolute;
   width: 0;
   height: 0;
   left: -9999px;
   top: -9999px;
}
.stars {
   @apply .relative .inline-flex;
   min-width: 200px;
}

.stars .star {
   @apply .absolute;
   clip-path: url(#star);
   /* mask: url(../public/images/icon-star.svg) no-repeat center left; */
}

.stars .star:not(.placeholder) {
   z-index: 2;
   @apply .bg-yellow-400;
}

.stars .star.placeholder {
   z-index: 1;
   @apply .bg-gray-200;
}

.MuiTab-root {
   min-width: auto;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.loading {
   position: relative;
   min-height: 0.25rem;
   content: '';
   border-radius: 20px;
   animation-duration: 6s;
   animation-fill-mode: forwards;
   animation-iteration-count: infinite;
   animation-name: placeHolderShimmer;
   animation-timing-function: linear;

   background: linear-gradient(to right, #e8f0fa 8%, #dbdbdb 28%, #e8f0fa 53%);
}

.spinner {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 1.25rem 0;
}

.spinner > div {
   position: absolute;
   animation: spinnerKeyframe 600ms infinite linear;
   border-left: 2.5px solid;
   border-radius: 50%;
   border-right: 2.5px solid transparent;
   border-top: 2.5px solid;
   height: 50px;
   width: 50px;
}

input.input-number::-webkit-inner-spin-button,
input.input-number::-webkit-outer-spin-button
{
   -webkit-appearance: none;
}

.slick-slide {
   display: inline-block;
}

.ql-align-center {
  text-align: center;
}
.ql-align-right {
  text-align: right;
}
.ql-size-small {
  font-size: 0.75rem;
}
.ql-size-large {
  font-size: 1.5em;
}
.ql-size-huge {
  font-size: 2.5em;
}
.ql-video {
  display: block;
  max-width: 100%;
}
.ql-indent-1 {
  padding-left: 3em;
}
.ql-indent-2 {
  padding-left: 6em;
}
.ql-indent-3 {
  padding-left: 9em;
}
.ql-indent-4 {
  padding-left: 12em;
}
.ql-indent-5 {
  padding-left: 15em;
}
.ql-indent-6 {
  padding-left: 18em;
}
.ql-indent-7 {
  padding-left: 21em;
}
.ql-indent-8 {
  padding-left: 24em;
}
.ql-font-serif {
  font-family: 'Georgia','Times New Roman','serif';
}
.ql-font-monospace {
  font-family: 'Monaco','Courier New','monospace';
}
.product-description {
  width: 100%;
  overflow: hidden;
}
.product-description * {
   max-width: 100%;
}

@keyframes spinnerKeyframe {
   0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@keyframes placeHolderShimmer {
   0% {
      background-position: -468px 0;
   }

   100% {
      background-position: 468px 0;
   }
}

.overflow-ellipsis {
   text-overflow: ellipsis;
}

/*
MATERIAL INJECT STUFF HERE
*/
.react-tel-input .form-control {
   width: 100%;
}
.react-tel-input {
   @apply .z-20;
}
.footer-checkout .whatsapp {
   flex: 2 1 0%;
}
.MuiButton-containedPrimary.whatsapp.Mui-disabled {
   background-color: rgba(0, 0, 0, 0.12)!important;
}
.MuiButton-containedPrimary.whatsapp {
   color: #fff;
   background-color: #128c7e!important;
}

.group-button {
   @apply .flex .flex-row .flex-wrap;
}

.group-button > * {
   @apply .mr-2 .mb-2
}

.group-button > *:last-child {
   @apply .m-0
}

.group-button > button.active-group-button {
   @apply .text-yellow-500 .font-semibold .border-yellow-500 .bg-yellow-100
}